apache-airflow[microsoft.winrm]
bcrypt
docker
flask-bcrypt
numpy
pandas
mlxtend
pyodbc
requests
scipy
sqlalchemy
suds-py3
suds-jurko
typer
pymssql
pypandoc
orjson
awswrangler
boto3
apache-airflow-providers-dingding
apache-airflow-providers-amazon
apache-airflow-providers-microsoft-winrm
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-postgres
apache-airflow-providers-sftp
apache-airflow-providers-ssh
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-odbc