wheel
fastapi==0.60.2
uvicorn
ujson
email-validator
requests
aiofiles
Jinja2
python-multipart
PyYAML
orjson
SQLAlchemy
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pyodbc
pypandoc
jinjasql
pandas
openpyxl
xlrd
pdfplumber
psycopg2-binary
aiocache[redis]
altair
vega_datasets
plotly
nltk
beautifulsoup4
Pillow
jupyterlab