apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-dingding==2.0.1
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-microsoft-winrm==2.0.1
apache-airflow-providers-mysql==2.1.1
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-redis==2.0.1
apache-airflow-providers-sendgrid==2.0.1
apache-airflow-providers-sftp==2.2.0
apache-airflow-providers-ssh==2.3.0
awswrangler==2.12.1
beautifulsoup4==4.10.0
boto3==1.18.65
botocore==1.21.65
pandas==1.3.4
pydantic==1.8.2
pendulum==2.1.2
pymssql==2.2.2
pyodbc==4.0.32
scikit-learn==1.0.1
scipy==1.7.2
suds-jurko==0.6
suds-py3==1.4.5.0
typer==0.4.0
python-dotenv==0.19.2
great-expectations==0.13.43
orjson==3.6.4