apache-airflow-providers-amazon
apache-airflow-providers-celery
apache-airflow-providers-dingding
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-microsoft-winrm
apache-airflow-providers-mysql
apache-airflow-providers-odbc
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sendgrid
apache-airflow-providers-sftp
apache-airflow-providers-ssh
awswrangler
beautifulsoup4==4.10.0
boto3
botocore
pandas
pendulum
pymssql
pyodbc
scikit-learn
scipy
suds-jurko
suds-py3
typer
python-dotenv
great_expectations