pydantic==1.8.1
apache-airflow-providers-microsoft-winrm==2.0.1
apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-dingding==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-postgres==2.2.0
apache-airflow-providers-sftp==2.1.1
apache-airflow-providers-ssh==2.1.1
awswrangler==2.11.0
bcrypt==3.2.0
docker==3.7.3
Flask-Bcrypt==0.7.1
jinjasql==0.1.8
mlxtend==0.19.0
numpy==1.21.2
orjson==3.6.3
pandas==1.3.3
pymssql==2.2.2
pyodbc==4.0.32
pypandoc==1.5
scipy==1.7.1
SQLAlchemy==1.4.23
suds-jurko==0.6
suds-py3==1.4.4.1
typer==0.4.0
