pydantic==1.8.1
apache-airflow-providers-microsoft-winrm==2.0.1
apache-airflow-providers-amazon==1.1.0
apache-airflow-providers-dingding==1.0.2
apache-airflow-providers-http==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-microsoft-mssql==1.0.1
apache-airflow-providers-microsoft-winrm==1.0.1
apache-airflow-providers-odbc==1.0.1
apache-airflow-providers-postgres==1.0.1
apache-airflow-providers-sftp==1.1.0
apache-airflow-providers-ssh==1.1.0
awswrangler==2.6.0
bcrypt==3.2.0
docker==3.7.3
Flask-Bcrypt==0.7.1
jinjasql==0.1.8
mlxtend==0.18.0
numpy==1.21.2
orjson==3.5.1
pandas==1.3.3
pymssql==2.2.2
pyodbc==4.0.32
pypandoc==1.5
requests==2.23.0
scipy==1.6.1
SQLAlchemy==1.4.23
suds-jurko==0.6
suds-py3==1.4.4.1
typer==0.4.0
